In [1]:

>>> import pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import OrderedDict
import seaborn as sns # a visualization library from matplotlib
import math
import json
import pprint

In [2]:
df = pd.read_excel("/Users/artun/Downloads/2015-2019 UG Courses.xlsx")

In [3]:

matrix_df = df.as_matrix()

n_rows, n_columns = df.shape
df.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
0,2015-1,BIO,306,BIO306,0,Microbiology,4,19,Devrim Gözüaçık
1,2015-1,BIO,321,BIO321,0,Biochemistry I,4,25,Hüveyda Başağa
2,2015-1,BIO,332,BIO332,0,Cell Biology,3,26,Zehra Sayers
3,2015-1,BIO,407,BIO407,0,Multicellular Organization,3,19,Hikmet Budak
4,2015-1,BIO,445,BIO445,0,Plant Tissue Culture Tech.,3,9,Selim Çetiner

In [5]:


is_2015spring = df['Semester'] == '2015-1'
is_2015fall = df['Semester'] == '2015-2'
is_2016spring = df['Semester'] == '2016-1'
is_2016fall = df['Semester'] == '2016-2'
is_2017spring = df['Semester'] == '2017-1'
is_2017fall = df['Semester'] == '2017-2'
is_2018spring = df['Semester'] == '2018-1'
is_2018fall = df['Semester'] == '2018-2'
is_2019spring = df['Semester'] == '2019-1'

fall_2015df = df[is_2015fall]
spring_2015df = df[is_2015spring]
fall_2016df = df[is_2016fall]
spring_2016df = df[is_2016spring]
fall_2017df = df[is_2017fall]
spring_2017df = df[is_2017spring]
fall_2018df = df[is_2018fall]
spring_2018df = df[is_2018spring]
spring_2019df = df[is_2019spring]

In [6]:
fall_2015df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
102,2015-2,BIO,301,BIO301,0,Intro. to Molecular Biology,4,20,Devrim Gözüaçık
103,2015-2,BIO,303,BIO303,0,Genetics,3,23,Murat Çokol
104,2015-2,BIO,304,BIO304,0,Biological Func.&Structure,3,12,Deniz Sezer
105,2015-2,BIO,310,BIO310,0,Introduction to Bioinformatics,3,10,Emel Durmaz Timuçin
106,2015-2,BIO,322,BIO322,0,Biochemistry II,3,14,Hüveyda Başağa

In [7]:
spring_2015df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
0,2015-1,BIO,306,BIO306,0,Microbiology,4,19,Devrim Gözüaçık
1,2015-1,BIO,321,BIO321,0,Biochemistry I,4,25,Hüveyda Başağa
2,2015-1,BIO,332,BIO332,0,Cell Biology,3,26,Zehra Sayers
3,2015-1,BIO,407,BIO407,0,Multicellular Organization,3,19,Hikmet Budak
4,2015-1,BIO,445,BIO445,0,Plant Tissue Culture Tech.,3,9,Selim Çetiner

In [8]:
fall_2016df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
292,2016-2,BIO,301,BIO301,0,Intro. to Molecular Biology,4,24,Devrim Gözüaçık
293,2016-2,BIO,303,BIO303,0,Genetics,3,16,Özlem Kutlu
294,2016-2,BIO,310,BIO310,0,Introduction to Bioinformatics,3,17,Saliha Ece Özbabacan
295,2016-2,BIO,322,BIO322,0,Biochemistry II,3,32,Meltem Müftüoğlu
296,2016-2,BIO,330,BIO330,0,Environmental Plant Biology,3,23,Levent Öztürk

In [9]:
spring_2016df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
197,2016-1,BIO,306,BIO306,0,Microbiology,4,15,Devrim Gözüaçık
198,2016-1,BIO,308,BIO308,0,Plant Physiology,3,24,Levent Öztürk
199,2016-1,BIO,321,BIO321,0,Biochemistry I,4,32,Meltem Müftüoğlu
200,2016-1,BIO,332,BIO332,0,Cell Biology,3,29,Zehra Sayers
201,2016-1,BIO,407,BIO407,0,Multicellular Organization,3,14,Bala Anı Akpınar

In [10]:
fall_2017df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
489,2017-2,BIO,301,BIO301,0,Intro. to Molecular Biology,4,29,Devrim Gözüaçık
490,2017-2,BIO,303,BIO303,0,Genetics,3,31,Christopher Mayack
491,2017-2,BIO,304,BIO304,0,Biological Func.&Structure,3,12,Deniz Sezer
492,2017-2,BIO,308,BIO308,0,Plant Physiology,3,10,Ümit Barış Kutman
493,2017-2,BIO,310,BIO310,0,Introduction to Bioinformatics,3,15,Öznur Taştan Okan

In [11]:
spring_2017df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
394,2017-1,BIO,306,BIO306,0,Microbiology,4,17,Devrim Gözüaçık
395,2017-1,BIO,321,BIO321,0,Biochemistry I,4,32,Hüveyda Başağa
396,2017-1,BIO,332,BIO332,0,Cell Biology,3,32,Zehra Sayers
397,2017-1,BIO,407,BIO407,0,Multicellular Organization,3,30,Özlem Kutlu
398,2017-1,BIO,445,BIO445,0,Plant Tissue Culture Tech.,3,7,Selim Çetiner

In [12]:
fall_2018df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
699,2018-2,BIO,301,BIO301,0,Intro. to Molecular Biology,4,17,Devrim Gözüaçık
700,2018-2,BIO,308,BIO308,0,Plant Physiology,3,24,Ümit Barış Kutman
701,2018-2,BIO,310,BIO310,0,Introduction to Bioinformatics,3,19,Öznur Taştan Okan
702,2018-2,BIO,330,BIO330,0,Environmental Plant Biology,3,18,Levent Öztürk
703,2018-2,BIO,335,BIO335,0,Analytical Techniques,3,26,Levent Öztürk

In [13]:
spring_2018df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
597,2018-1,BIO,303,BIO303,0,Genetics,3,23,Christopher Mayack
598,2018-1,BIO,306,BIO306,0,Microbiology,4,23,Devrim Gözüaçık
599,2018-1,BIO,321,BIO321,0,Biochemistry I,4,23,Hüveyda Başağa
600,2018-1,BIO,332,BIO332,0,Cell Biology,3,22,Batu Erman
601,2018-1,BIO,363,BIO363,0,Ecology,3,33,Levent Öztürk

In [14]:
spring_2019df.head()

,Semester,Subject,Code,SC,Sect.,Title,SU Credit,Enrl-last,PI
808,2019-1,BIO,303,BIO303,0,Genetics,3,19,Christopher Mayack
809,2019-1,BIO,306,BIO306,0,Microbiology,4,12,Devrim Gözüaçık
810,2019-1,BIO,321,BIO321,0,Biochemistry I,4,25,Emrah Eroğlu
811,2019-1,BIO,363,BIO363,0,Ecology,3,27,Levent Öztürk
812,2019-1,BIO,407,BIO407,0,Multicellular Organization,3,27,Özlem Kutlu